body{
    width:600px;
    height: auto;
    margin:10px;
}
#confirmation_message :active{
    margin:20px;
    background-color: rgb(213, 247, 147);
    border:2px solid green;
    transition:all 0.5s ease;
}
form{
   display:flex;
   flex-direction: column;
   margin:20px;
   justify-content: space-around;
   align-items: flex-start; 
}
fieldset{
    border:2px solid blue;
    display:flex;
    width: 250px;
    height:400px;
    
 }
#mare{ 
    position: absolute;
    width:330px;
    height:419px;
    align-self: flex-end;
}